<app-navbar></app-navbar>
<div class="container">
    <div class="card">
        <div class="card-header text-center">
            <h2> {{post.title}} </h2>
        </div>
        <div class="card-body">
            {{post.description}}
        </div>
        <div class="card-footer">
            <span class="footer">Likes: {{post.likes}} | Author : {{post.author}} | Created At : {{post.createdAt | date}} </span>
        <span style="float:right" class="footer"> 
            <button class="btn btn-sm btn-success" (click)="like()">Like</button>&nbsp;
            <button class="btn btn-sm btn-primary" (click)="edit()">Edit</button>&nbsp;
            <button class="btn btn-sm btn-danger" (click)="delete()">Delete</button>
        </span>
            <hr>
            <h3 class="text-center">Comments</h3>
            <div>
                <input type="text" [(ngModel)]="commentVal" class="commentInput" placeholder="Add Your Comment" #comment>
                <button class="btn btn-success" style="border-radius: 20px; float: right;" (click)="addComment(comment.value)" >Add Comment</button>
            </div>
            <br>
            <div *ngFor="let comment of comments">
                <div class="card comments">
                  Commeted By: {{comment.commentBy}}  <br>
                  <span class="text-center">  {{comment.comment}}  </span>
                </div>
                <br>
            </div>
    </div>

    </div>
</div>